__pycache__/
!/patches/*
.build-hash
.idea/
.mypy_cache/
.session.vim
.session.vim.lock
.vscode
*.a
*.orig
*.pyc
*.rej
*.sw?
build/
download/
google-styleguide*
install_manifest.txt
installed_*/
installed_*/
installed-deps-tsan/
installed-deps/
installed/
linuxbrew_url.txt
linuxbrew_path.txt
toolchain_path.txt
toolchain_url.txt
prebuilt_downloads/
src/
venv/
.pyre
