name: macOS

# TODO: deduplicate this across multiple workflow files.
on:
  push:
    branches:
      - '*'

    paths-ignore:
      - README.md

  # Run tests for any PRs.
  pull_request:
    branches:
      - master

    paths-ignore:
      - README.md

env:
  GITHUB_ORG_AND_REPO: "${{ github.repository }}"

jobs:
  build:
    runs-on: macos-10.15
    if: >
      (github.event_name == 'push' &&
       !contains(github.event.head_commit.message, 'skip ci') &&
       !contains(github.event.head_commit.message, 'ci skip')) ||
      github.event_name == 'pull_request'
    steps:
      - uses: actions/checkout@v2

      - name: Build YugabyteDB third-party dependencies
        env:
          GITHUB_TOKEN: ${{ secrets.CUSTOM_GITHUB_TOKEN }}
        run: |
          brew install autoconf automake pkg-config shellcheck
          sudo mkdir -p /opt/yb-build/{thirdparty,brew,tmp}
          sudo chmod 777 /opt/yb-build/{thirdparty,brew,tmp}
          ./build_and_release.sh
